@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'alpinejs';


html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }

  .custom-select {
    max-width: 300px; /* или другая ширина по вашему выбору */
}